{
  "openapi": "3.0.0",
  "info": {
    "title": "Twitch GraphQL API Queries",
    "description": "[github.com/DmitryScaletta/twitch-gql-queries](https://github.com/DmitryScaletta/twitch-gql-queries)",
    "version": "GraphQL"
  },
  "servers": [
    {
      "url": "https://gql.twitch.tv/gql",
      "description": "GraphQL"
    }
  ],
  "security": [],
  "tags": [],
  "paths": {
    "#BrowsePage_AllDirectories": {
      "post": {
        "summary": "",
        "tags": [
          "Games"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Client-ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "kimne78kx3ncx6brgo4mv6wki5h1ko"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrowsePageAllDirectoriesRequestBody"
              },
              "examples": {
                "only required variables": {
                  "value": {
                    "operationName": "BrowsePage_AllDirectories",
                    "variables": {
                      "cursor": null,
                      "limit": 100,
                      "options": {
                        "sort": "RELEVANCE"
                      }
                    },
                    "extensions": {
                      "persistedQuery": {
                        "version": 1,
                        "sha256Hash": "2f67f71ba89f3c0ed26a141ec00da1defecb2303595f5cda4298169549783d9e"
                      }
                    }
                  }
                },
                "with tags": {
                  "value": {
                    "operationName": "BrowsePage_AllDirectories",
                    "variables": {
                      "cursor": null,
                      "limit": 100,
                      "options": {
                        "recommendationsContext": {
                          "platform": "web"
                        },
                        "sort": "RELEVANCE",
                        "tags": [
                          "4d1eaa36-f750-4862-b7e9-d0a13970d535"
                        ]
                      }
                    },
                    "extensions": {
                      "persistedQuery": {
                        "version": 1,
                        "sha256Hash": "2f67f71ba89f3c0ed26a141ec00da1defecb2303595f5cda4298169549783d9e"
                      }
                    }
                  }
                },
                "integrity error": {
                  "value": {
                    "operationName": "BrowsePage_AllDirectories",
                    "variables": {
                      "cursor": "eyJzIjoxMDAsImQiOmZhbHNlLCJ0Ijp0cnVlfQ==",
                      "limit": 100,
                      "options": {
                        "sort": "RELEVANCE"
                      }
                    },
                    "extensions": {
                      "persistedQuery": {
                        "version": 1,
                        "sha256Hash": "2f67f71ba89f3c0ed26a141ec00da1defecb2303595f5cda4298169549783d9e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowsePageAllDirectoriesResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": {
                        "directoriesWithTags": {
                          "edges": [
                            {
                              "cursor": "eyJzIjoxLCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "e55c4ad9-0543-4826-a5e4-239b55310636",
                              "node": {
                                "id": "509658",
                                "slug": "just-chatting",
                                "displayName": "Just Chatting",
                                "name": "Just Chatting",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/509658-285x380.jpg",
                                "viewersCount": 169299,
                                "tags": [
                                  {
                                    "id": "2610cff9-10ae-4cb3-8500-778e6722fbb5",
                                    "isLanguageTag": false,
                                    "localizedName": "IRL",
                                    "tagName": "IRL",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyLCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "55b7cdc2-947e-4d14-a8a5-04f103edde73",
                              "node": {
                                "id": "21779",
                                "slug": "league-of-legends",
                                "displayName": "League of Legends",
                                "name": "League of Legends",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/21779-285x380.jpg",
                                "viewersCount": 96047,
                                "tags": [
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "12510423-d1f6-4992-8aea-1441a43d1df4",
                                    "isLanguageTag": false,
                                    "localizedName": "MOBA",
                                    "tagName": "MOBA",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2009-10-27T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozLCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "46e29f56-5ad2-4e20-8ac5-84857b089832",
                              "node": {
                                "id": "18122",
                                "slug": "world-of-warcraft",
                                "displayName": "World of Warcraft",
                                "name": "World of Warcraft",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/18122-285x380.jpg",
                                "viewersCount": 64642,
                                "tags": [
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "643fe658-c4fc-45f0-9aed-cbe54a7c1d10",
                                    "isLanguageTag": false,
                                    "localizedName": "MMO",
                                    "tagName": "MMO",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a682f560-5186-4871-b97a-8d8e3f4308e9",
                                    "isLanguageTag": false,
                                    "localizedName": "Open World",
                                    "tagName": "Open World",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2004-11-23T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo0LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "73d1194a-1db6-40cb-a528-dc2993f96a91",
                              "node": {
                                "id": "516575",
                                "slug": "valorant",
                                "displayName": "VALORANT",
                                "name": "VALORANT",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/516575-285x380.jpg",
                                "viewersCount": 50493,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2020-06-02T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo1LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "901e32c5-261c-4216-b77d-61d9852ea929",
                              "node": {
                                "id": "32982",
                                "slug": "grand-theft-auto-v",
                                "displayName": "Grand Theft Auto V",
                                "name": "Grand Theft Auto V",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/32982_IGDB-285x380.jpg",
                                "viewersCount": 36310,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "f5ed5bd0-78cb-4467-8e13-9172a210b64d",
                                    "isLanguageTag": false,
                                    "localizedName": "Driving/Racing Game",
                                    "tagName": "Driving/Racing Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2013-09-17T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo2LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "da60b5e8-41e0-4bf4-8705-490c578d7df5",
                              "node": {
                                "id": "1264310518",
                                "slug": "marvel-rivals",
                                "displayName": "Marvel Rivals",
                                "name": "Marvel Rivals",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1264310518_IGDB-285x380.jpg",
                                "viewersCount": 31285,
                                "tags": [
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2024-12-06T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo3LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "5eb5feae-2865-42d6-9be5-8ca13396ab9b",
                              "node": {
                                "id": "1286077738",
                                "slug": "monster-hunter-wilds",
                                "displayName": "Monster Hunter Wilds",
                                "name": "Monster Hunter Wilds",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1286077738_IGDB-285x380.jpg",
                                "viewersCount": 31018,
                                "tags": [
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a682f560-5186-4871-b97a-8d8e3f4308e9",
                                    "isLanguageTag": false,
                                    "localizedName": "Open World",
                                    "tagName": "Open World",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2025-02-28T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo4LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "d4a8164f-1e3c-4b45-a1db-1b4a33a94bbc",
                              "node": {
                                "id": "29595",
                                "slug": "dota-2",
                                "displayName": "Dota 2",
                                "name": "Dota 2",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/29595-285x380.jpg",
                                "viewersCount": 30266,
                                "tags": [
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "12510423-d1f6-4992-8aea-1441a43d1df4",
                                    "isLanguageTag": false,
                                    "localizedName": "MOBA",
                                    "tagName": "MOBA",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2013-07-09T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo5LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "f11e6d80-0e71-462d-af21-11e5cfd9725b",
                              "node": {
                                "id": "32399",
                                "slug": "counter-strike",
                                "displayName": "Counter-Strike",
                                "name": "Counter-Strike",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/32399-285x380.jpg",
                                "viewersCount": 24498,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2012-08-21T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxMCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "ac4637ac-7a09-46ab-81ff-62678b47ec31",
                              "node": {
                                "id": "33214",
                                "slug": "fortnite",
                                "displayName": "Fortnite",
                                "name": "Fortnite",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/33214-285x380.jpg",
                                "viewersCount": 25097,
                                "tags": [
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2017-07-25T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxMSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "e30bcd12-bb14-4569-b1a8-18f9d2c4297c",
                              "node": {
                                "id": "1294658629",
                                "slug": "r-e-p-o",
                                "displayName": "R.E.P.O.",
                                "name": "R.E.P.O.",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1294658629_IGDB-285x380.jpg",
                                "viewersCount": 22448,
                                "tags": [
                                  {
                                    "id": "d72d9de6-1df8-4c4e-b6a2-74e6f4c80557",
                                    "isLanguageTag": false,
                                    "localizedName": "Indie Game",
                                    "tagName": "Indie Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "cf0f97ad-efb8-4494-83ec-6a11ca30261b",
                                    "isLanguageTag": false,
                                    "localizedName": "Horror",
                                    "tagName": "Horror",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "0472bab0-e068-49b3-9bb8-789fdfe3c66a",
                                    "isLanguageTag": false,
                                    "localizedName": "Stealth",
                                    "tagName": "Stealth",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2025-02-26T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxMiwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "ff606c93-9cd6-46f6-a59a-117127cb481f",
                              "node": {
                                "id": "490377",
                                "slug": "sea-of-thieves",
                                "displayName": "Sea of Thieves",
                                "name": "Sea of Thieves",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/490377-285x380.jpg",
                                "viewersCount": 19238,
                                "tags": [
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a682f560-5186-4871-b97a-8d8e3f4308e9",
                                    "isLanguageTag": false,
                                    "localizedName": "Open World",
                                    "tagName": "Open World",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2018-03-20T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxMywiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "e7b99850-0398-416d-8c37-b642b9af5e53",
                              "node": {
                                "id": "1354355809",
                                "slug": "split-fiction",
                                "displayName": "Split Fiction",
                                "name": "Split Fiction",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1354355809_IGDB-285x380.jpg",
                                "viewersCount": 18867,
                                "tags": [
                                  {
                                    "id": "5d289cf9-d75a-42b5-a635-0d117609e6a6",
                                    "isLanguageTag": false,
                                    "localizedName": "Platformer",
                                    "tagName": "Platformer",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2025-03-06T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxNCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "f2072a27-51ba-453a-a396-830f5fe5d154",
                              "node": {
                                "id": "509672",
                                "slug": "irl",
                                "displayName": "IRL",
                                "name": "IRL",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/509672-285x380.jpg",
                                "viewersCount": 15718,
                                "tags": [
                                  {
                                    "id": "2610cff9-10ae-4cb3-8500-778e6722fbb5",
                                    "isLanguageTag": false,
                                    "localizedName": "IRL",
                                    "tagName": "IRL",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxNSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "2894ae1b-0243-4a26-90f4-dfd455a83178",
                              "node": {
                                "id": "509659",
                                "slug": "asmr",
                                "displayName": "ASMR",
                                "name": "ASMR",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/509659-285x380.jpg",
                                "viewersCount": 12303,
                                "tags": [
                                  {
                                    "id": "2610cff9-10ae-4cb3-8500-778e6722fbb5",
                                    "isLanguageTag": false,
                                    "localizedName": "IRL",
                                    "tagName": "IRL",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxNiwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "5987c0ec-cf87-4ef3-9048-0792f2ad347f",
                              "node": {
                                "id": "512710",
                                "slug": "call-of-duty-warzone",
                                "displayName": "Call of Duty: Warzone",
                                "name": "Call of Duty: Warzone",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/512710-285x380.jpg",
                                "viewersCount": 11320,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2020-03-10T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxNywiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "165cad48-70a4-40c3-bcb5-422786429df7",
                              "node": {
                                "id": "491487",
                                "slug": "dead-by-daylight",
                                "displayName": "Dead by Daylight",
                                "name": "Dead by Daylight",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/491487-285x380.jpg",
                                "viewersCount": 10869,
                                "tags": [
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "cf0f97ad-efb8-4494-83ec-6a11ca30261b",
                                    "isLanguageTag": false,
                                    "localizedName": "Horror",
                                    "tagName": "Horror",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "ae7d0652-8b2e-476b-8b51-a076550b234f",
                                    "isLanguageTag": false,
                                    "localizedName": "Survival",
                                    "tagName": "Survival",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "0472bab0-e068-49b3-9bb8-789fdfe3c66a",
                                    "isLanguageTag": false,
                                    "localizedName": "Stealth",
                                    "tagName": "Stealth",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2016-06-14T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxOCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "9cd71458-a6e2-4fe9-8345-2b74ece6652d",
                              "node": {
                                "id": "138585",
                                "slug": "hearthstone",
                                "displayName": "Hearthstone",
                                "name": "Hearthstone",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/138585-285x380.jpg",
                                "viewersCount": 10826,
                                "tags": [
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "8d39b307-d3ad-4f4a-98a4-d1951f55ceb7",
                                    "isLanguageTag": false,
                                    "localizedName": "Card & Board Game",
                                    "tagName": "Card & Board Game",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2014-03-11T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxOSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "ab348c35-cd01-4d97-bc82-03ebae0ce04e",
                              "node": {
                                "id": "513143",
                                "slug": "teamfight-tactics",
                                "displayName": "Teamfight Tactics",
                                "name": "Teamfight Tactics",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/513143-285x380.jpg",
                                "viewersCount": 10594,
                                "tags": [
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "8d39b307-d3ad-4f4a-98a4-d1951f55ceb7",
                                    "isLanguageTag": false,
                                    "localizedName": "Card & Board Game",
                                    "tagName": "Card & Board Game",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2019-06-26T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyMCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "3b641f33-51a2-43e3-86cc-1753bf34dc8b",
                              "node": {
                                "id": "511224",
                                "slug": "apex-legends",
                                "displayName": "Apex Legends",
                                "name": "Apex Legends",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/511224-285x380.jpg",
                                "viewersCount": 10299,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2019-02-04T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyMSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "2ebf8758-7242-4ccf-a0b1-92cac0347299",
                              "node": {
                                "id": "515025",
                                "slug": "overwatch-2",
                                "displayName": "Overwatch 2",
                                "name": "Overwatch 2",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/515025-285x380.jpg",
                                "viewersCount": 9963,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2023-08-10T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyMiwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "2740d002-f7e5-4eaf-8711-5a7bd40ff0f6",
                              "node": {
                                "id": "55453844",
                                "slug": "street-fighter-6",
                                "displayName": "Street Fighter 6",
                                "name": "Street Fighter 6",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/55453844_IGDB-285x380.jpg",
                                "viewersCount": 9860,
                                "tags": [
                                  {
                                    "id": "9751ee1d-0e5a-4fd3-8e9f-bc3c5d3230f0",
                                    "isLanguageTag": false,
                                    "localizedName": "Fighting",
                                    "tagName": "Fighting",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "7ff66192-68ef-4b69-8906-24736bf66ed0",
                                    "isLanguageTag": false,
                                    "localizedName": "Arcade",
                                    "tagName": "Arcade",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2023-06-02T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyMywiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "f17382ae-fdd9-485d-b4db-db945d9833ec",
                              "node": {
                                "id": "27471",
                                "slug": "minecraft",
                                "displayName": "Minecraft",
                                "name": "Minecraft",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/27471_IGDB-285x380.jpg",
                                "viewersCount": 9754,
                                "tags": [
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "643fe658-c4fc-45f0-9aed-cbe54a7c1d10",
                                    "isLanguageTag": false,
                                    "localizedName": "MMO",
                                    "tagName": "MMO",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "ae7d0652-8b2e-476b-8b51-a076550b234f",
                                    "isLanguageTag": false,
                                    "localizedName": "Survival",
                                    "tagName": "Survival",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2016-12-19T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyNCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "a68c9a3d-e352-475e-9bf9-7caebd1f4f28",
                              "node": {
                                "id": "491931",
                                "slug": "escape-from-tarkov",
                                "displayName": "Escape from Tarkov",
                                "name": "Escape from Tarkov",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/491931_IGDB-285x380.jpg",
                                "viewersCount": 9318,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "643fe658-c4fc-45f0-9aed-cbe54a7c1d10",
                                    "isLanguageTag": false,
                                    "localizedName": "MMO",
                                    "tagName": "MMO",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2017-07-27T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyNSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "fb114bcf-a3ac-4de7-8fc0-175105712f4a",
                              "node": {
                                "id": "499973",
                                "slug": "always-on",
                                "displayName": "Always On",
                                "name": "Always On",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/499973-285x380.jpg",
                                "viewersCount": 12560,
                                "tags": [],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyNiwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "1d15777f-74fa-4b26-99b9-efd545344b59",
                              "node": {
                                "id": "29452",
                                "slug": "virtual-casino",
                                "displayName": "Virtual Casino",
                                "name": "Virtual Casino",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/29452_IGDB-285x380.jpg",
                                "viewersCount": 8529,
                                "tags": [
                                  {
                                    "id": "8d39b307-d3ad-4f4a-98a4-d1951f55ceb7",
                                    "isLanguageTag": false,
                                    "localizedName": "Card & Board Game",
                                    "tagName": "Card & Board Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "71265475-e0b0-411e-a0cf-b93c33848b2b",
                                    "isLanguageTag": false,
                                    "localizedName": "Gambling Game",
                                    "tagName": "Gambling Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "2cf37ad2-6700-4312-a114-27bb91800254",
                                    "isLanguageTag": false,
                                    "localizedName": "Gambling",
                                    "tagName": "Gambling",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "1996-12-31T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyNywiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "8e37853d-3e70-4efd-b395-8cdafb96df4a",
                              "node": {
                                "id": "512953",
                                "slug": "elden-ring",
                                "displayName": "ELDEN RING",
                                "name": "ELDEN RING",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/512953_IGDB-285x380.jpg",
                                "viewersCount": 8356,
                                "tags": [
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a682f560-5186-4871-b97a-8d8e3f4308e9",
                                    "isLanguageTag": false,
                                    "localizedName": "Open World",
                                    "tagName": "Open World",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2022-02-25T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyOCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "c2d34c3d-af05-4306-b62e-42bdb1563c2e",
                              "node": {
                                "id": "1023750977",
                                "slug": "fragpunk",
                                "displayName": "FragPunk",
                                "name": "FragPunk",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1023750977_IGDB-285x380.jpg",
                                "viewersCount": 8265,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2025-03-06T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyOSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "4716d547-abda-4d5f-b97b-438275001432",
                              "node": {
                                "id": "2011938005",
                                "slug": "ea-sports-fc-25",
                                "displayName": "EA Sports FC 25",
                                "name": "EA Sports FC 25",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/2011938005_IGDB-285x380.jpg",
                                "viewersCount": 8086,
                                "tags": [
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "0d4233af-7ac6-49da-937d-e0f42b7db187",
                                    "isLanguageTag": false,
                                    "localizedName": "Sports Game",
                                    "tagName": "Sports Game",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2024-09-27T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozMCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "f8421ad8-9655-4821-b411-40b251c95430",
                              "node": {
                                "id": "509660",
                                "slug": "art",
                                "displayName": "Art",
                                "name": "Art",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/509660-285x380.jpg",
                                "viewersCount": 7531,
                                "tags": [
                                  {
                                    "id": "e36d0169-268a-4c62-a4f4-ddf61a0b3ae4",
                                    "isLanguageTag": false,
                                    "localizedName": "Creative",
                                    "tagName": "Creative",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "2610cff9-10ae-4cb3-8500-778e6722fbb5",
                                    "isLanguageTag": false,
                                    "localizedName": "IRL",
                                    "tagName": "IRL",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozMSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "28e6122c-25bb-4b38-b770-bd700c0be3e1",
                              "node": {
                                "id": "460630",
                                "slug": "tom-clancys-rainbow-six-siege",
                                "displayName": "Tom Clancy's Rainbow Six Siege",
                                "name": "Tom Clancy's Rainbow Six Siege",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/460630_IGDB-285x380.jpg",
                                "viewersCount": 7047,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2015-12-01T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozMiwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "d08c9be1-7bd1-4297-a5c5-a31e656ce095",
                              "node": {
                                "id": "1398657661",
                                "slug": "anime-squad",
                                "displayName": "Anime Squad",
                                "name": "Anime Squad",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1398657661_IGDB-285x380.jpg",
                                "viewersCount": 7262,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "d72d9de6-1df8-4c4e-b6a2-74e6f4c80557",
                                    "isLanguageTag": false,
                                    "localizedName": "Indie Game",
                                    "tagName": "Indie Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozMywiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "33a35a06-c702-47b2-b27f-7d8d5bf3caa4",
                              "node": {
                                "id": "2068583461",
                                "slug": "nba-2k25",
                                "displayName": "NBA 2K25",
                                "name": "NBA 2K25",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/2068583461_IGDB-285x380.jpg",
                                "viewersCount": 7243,
                                "tags": [
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "0d4233af-7ac6-49da-937d-e0f42b7db187",
                                    "isLanguageTag": false,
                                    "localizedName": "Sports Game",
                                    "tagName": "Sports Game",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2024-09-06T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozNCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "81d1aa6c-773b-42a7-98e7-06646cca5c44",
                              "node": {
                                "id": "498592",
                                "slug": "im-only-sleeping",
                                "displayName": "I'm Only Sleeping",
                                "name": "I'm Only Sleeping",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/498592_IGDB-285x380.jpg",
                                "viewersCount": 6416,
                                "tags": [
                                  {
                                    "id": "0c99bf18-5a92-4257-8974-d7a60088d1e8",
                                    "isLanguageTag": false,
                                    "localizedName": "Point and Click",
                                    "tagName": "Point and Click",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2005-12-19T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozNSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "88b3de2e-20e0-4906-8c3c-188799058223",
                              "node": {
                                "id": "26936",
                                "slug": "music",
                                "displayName": "Music",
                                "name": "Music",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/26936-285x380.jpg",
                                "viewersCount": 6346,
                                "tags": [
                                  {
                                    "id": "2610cff9-10ae-4cb3-8500-778e6722fbb5",
                                    "isLanguageTag": false,
                                    "localizedName": "IRL",
                                    "tagName": "IRL",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "e36d0169-268a-4c62-a4f4-ddf61a0b3ae4",
                                    "isLanguageTag": false,
                                    "localizedName": "Creative",
                                    "tagName": "Creative",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "0001-01-01 00:00:00 +0000 UTC",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozNiwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "13f92cc5-3d38-431d-91ee-82b72170447a",
                              "node": {
                                "id": "1672324422",
                                "slug": "call-of-duty-black-ops-6",
                                "displayName": "Call of Duty: Black Ops 6",
                                "name": "Call of Duty: Black Ops 6",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1672324422-285x380.jpg",
                                "viewersCount": 6297,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2024-10-25T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozNywiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "2378eb1a-f8ca-462d-b80d-2b42bb728739",
                              "node": {
                                "id": "493057",
                                "slug": "pubg-battlegrounds",
                                "displayName": "PUBG: BATTLEGROUNDS",
                                "name": "PUBG: BATTLEGROUNDS",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/493057-285x380.jpg",
                                "viewersCount": 5901,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2017-12-20T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozOCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "7b81b8ce-9b23-44f2-ab77-4133c7793e86",
                              "node": {
                                "id": "27284",
                                "slug": "retro",
                                "displayName": "Retro",
                                "name": "Retro",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/27284-285x380.jpg",
                                "viewersCount": 4832,
                                "tags": [
                                  {
                                    "id": "7ff66192-68ef-4b69-8906-24736bf66ed0",
                                    "isLanguageTag": false,
                                    "localizedName": "Arcade",
                                    "tagName": "Arcade",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozOSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "f22bf389-c7f8-4542-a7a6-0b0bd678ce87",
                              "node": {
                                "id": "1906677264",
                                "slug": "rogue-genesia",
                                "displayName": "Rogue: Genesia",
                                "name": "Rogue: Genesia",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1906677264_IGDB-285x380.jpg",
                                "viewersCount": 4679,
                                "tags": [
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "d72d9de6-1df8-4c4e-b6a2-74e6f4c80557",
                                    "isLanguageTag": false,
                                    "localizedName": "Indie Game",
                                    "tagName": "Indie Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "7ff66192-68ef-4b69-8906-24736bf66ed0",
                                    "isLanguageTag": false,
                                    "localizedName": "Arcade",
                                    "tagName": "Arcade",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2025-03-07T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo0MCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "054848c8-02de-4c1f-bb42-bea87010d2bb",
                              "node": {
                                "id": "263490",
                                "slug": "rust",
                                "displayName": "Rust",
                                "name": "Rust",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/263490_IGDB-285x380.jpg",
                                "viewersCount": 4444,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "d72d9de6-1df8-4c4e-b6a2-74e6f4c80557",
                                    "isLanguageTag": false,
                                    "localizedName": "Indie Game",
                                    "tagName": "Indie Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "ae7d0652-8b2e-476b-8b51-a076550b234f",
                                    "isLanguageTag": false,
                                    "localizedName": "Survival",
                                    "tagName": "Survival",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a682f560-5186-4871-b97a-8d8e3f4308e9",
                                    "isLanguageTag": false,
                                    "localizedName": "Open World",
                                    "tagName": "Open World",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2018-02-08T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo0MSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "f41a834d-d6f6-4e15-8a5d-733c92790601",
                              "node": {
                                "id": "272263131",
                                "slug": "animals-aquariums-and-zoos",
                                "displayName": "Animals, Aquariums, and Zoos",
                                "name": "Animals, Aquariums, and Zoos",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/272263131-285x380.jpg",
                                "viewersCount": 4283,
                                "tags": [
                                  {
                                    "id": "2610cff9-10ae-4cb3-8500-778e6722fbb5",
                                    "isLanguageTag": false,
                                    "localizedName": "IRL",
                                    "tagName": "IRL",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo0MiwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "27c4ae5f-a58a-433d-af4c-98e81c8364da",
                              "node": {
                                "id": "509663",
                                "slug": "special-events",
                                "displayName": "Special Events",
                                "name": "Special Events",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/509663-285x380.jpg",
                                "viewersCount": 4274,
                                "tags": [
                                  {
                                    "id": "2610cff9-10ae-4cb3-8500-778e6722fbb5",
                                    "isLanguageTag": false,
                                    "localizedName": "IRL",
                                    "tagName": "IRL",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo0MywiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "e2aec99b-a2ee-4b48-afdb-228304d10a9a",
                              "node": {
                                "id": "518203",
                                "slug": "sports-1",
                                "displayName": "Sports",
                                "name": "Sports",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/518203-285x380.jpg",
                                "viewersCount": 4260,
                                "tags": [
                                  {
                                    "id": "2610cff9-10ae-4cb3-8500-778e6722fbb5",
                                    "isLanguageTag": false,
                                    "localizedName": "IRL",
                                    "tagName": "IRL",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo0NCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "1c0bf0bf-33b3-4b73-8bb3-2e17642c0abb",
                              "node": {
                                "id": "23239",
                                "slug": "plants-vs-zombies",
                                "displayName": "Plants vs. Zombies",
                                "name": "Plants vs. Zombies",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/23239_IGDB-285x380.jpg",
                                "viewersCount": 4147,
                                "tags": [
                                  {
                                    "id": "7616f6ea-7e3d-4501-a87c-c160d2bc1849",
                                    "isLanguageTag": false,
                                    "localizedName": "Puzzle",
                                    "tagName": "Puzzle",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "3e30c47a-26c0-4dd3-9c3a-9cd6ad35589c",
                                    "isLanguageTag": false,
                                    "localizedName": "RTS",
                                    "tagName": "RTS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2009-05-05T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo0NSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "b764b8c4-8897-418c-badb-a3628e4d32dc",
                              "node": {
                                "id": "499003",
                                "slug": "vrchat",
                                "displayName": "VRChat",
                                "name": "VRChat",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/499003_IGDB-285x380.jpg",
                                "viewersCount": 3678,
                                "tags": [
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
[...]
