{
  "openapi": "3.0.0",
  "info": {
    "title": "Twitch GraphQL API Queries",
    "description": "[github.com/DmitryScaletta/twitch-gql-queries](https://github.com/DmitryScaletta/twitch-gql-queries)",
    "version": "GraphQL"
  },
  "servers": [
    {
      "url": "https://gql.twitch.tv/gql",
      "description": "GraphQL"
    }
  ],
  "security": [],
  "tags": [],
  "paths": {
    "#BitsConfigContext_Global": {
      "post": {
        "summary": "",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Client-ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "kimne78kx3ncx6brgo4mv6wki5h1ko"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BitsConfigContextGlobalRequestBody"
              },
              "example": {
                "operationName": "BitsConfigContext_Global",
                "variables": {},
                "extensions": {
                  "persistedQuery": {
                    "version": 1,
                    "sha256Hash": "6a265b86f3be1c8d11bdcf32c183e106028c6171e985cc2584d15f7840f5fee6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BitsConfigContextGlobalResponse"
                },
                "example": {
                  "data": {
                    "cheerConfig": {
                      "displayConfig": {
                        "backgrounds": [
                          "light",
                          "dark"
                        ],
                        "colors": [
                          {
                            "bits": 1,
                            "color": "#979797",
                            "__typename": "CheermoteColorConfig"
                          },
                          {
                            "bits": 100,
                            "color": "#9c3ee8",
                            "__typename": "CheermoteColorConfig"
                          },
                          {
                            "bits": 1000,
                            "color": "#1db2a5",
                            "__typename": "CheermoteColorConfig"
                          },
                          {
                            "bits": 5000,
                            "color": "#0099fe",
                            "__typename": "CheermoteColorConfig"
                          },
                          {
                            "bits": 10000,
                            "color": "#f43021",
                            "__typename": "CheermoteColorConfig"
                          },
                          {
                            "bits": 100000,
                            "color": "#f3a71a",
                            "__typename": "CheermoteColorConfig"
                          }
                        ],
                        "order": [
                          "SPONSORED",
                          "DEFAULT",
                          "CUSTOM",
                          "CHARITY",
                          "FIRST_PARTY",
                          "THIRD_PARTY",
                          "ANONYMOUS",
                          "DISPLAY_ONLY"
                        ],
                        "scales": [
                          "1",
                          "1.5",
                          "2",
                          "3",
                          "4"
                        ],
                        "types": [
                          {
                            "animation": "static",
                            "extension": "png",
                            "__typename": "CheermoteDisplayType"
                          },
                          {
                            "animation": "animated",
                            "extension": "gif",
                            "__typename": "CheermoteDisplayType"
                          }
                        ],
                        "__typename": "CheermoteDisplayConfig"
                      },
                      "groups": [
                        {
                          "templateURL": "https://d3aqoihi2n8ty8.cloudfront.net/actions/PREFIX/BACKGROUND/ANIMATION/TIER/SCALE.EXTENSION",
                          "nodes": [
                            {
                              "id": "Cheer",
                              "prefix": "Cheer",
                              "type": "DEFAULT",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Cheer;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Cheer;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Cheer;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Cheer;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Cheer;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Cheer;100000",
                                  "bits": 100000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "cheerwhal",
                              "prefix": "cheerwhal",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "cheerwhal;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "cheerwhal;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "cheerwhal;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "cheerwhal;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "cheerwhal;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Corgo",
                              "prefix": "Corgo",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Corgo;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Corgo;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Corgo;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Corgo;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Corgo;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Scoops",
                              "prefix": "Scoops",
                              "type": "DISPLAY_ONLY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Scoops;1",
                                  "bits": 1,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Scoops;100",
                                  "bits": 100,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Scoops;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Scoops;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Scoops;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "uni",
                              "prefix": "uni",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "uni;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "uni;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "uni;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "uni;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "uni;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "ShowLove",
                              "prefix": "ShowLove",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "ShowLove;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "ShowLove;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "ShowLove;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "ShowLove;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "ShowLove;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Party",
                              "prefix": "Party",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Party;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Party;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Party;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Party;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Party;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "SeemsGood",
                              "prefix": "SeemsGood",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "SeemsGood;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "SeemsGood;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "SeemsGood;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "SeemsGood;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "SeemsGood;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Pride",
                              "prefix": "Pride",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Pride;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Pride;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Pride;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Pride;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Pride;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Kappa",
                              "prefix": "Kappa",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Kappa;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Kappa;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Kappa;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Kappa;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Kappa;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "FrankerZ",
                              "prefix": "FrankerZ",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "FrankerZ;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "FrankerZ;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "FrankerZ;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "FrankerZ;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "FrankerZ;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "HeyGuys",
                              "prefix": "HeyGuys",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "HeyGuys;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "HeyGuys;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "HeyGuys;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "HeyGuys;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "HeyGuys;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "DansGame",
                              "prefix": "DansGame",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "DansGame;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "DansGame;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "DansGame;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "DansGame;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "DansGame;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "TriHard",
                              "prefix": "TriHard",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "TriHard;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "TriHard;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "TriHard;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "TriHard;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "TriHard;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Kreygasm",
                              "prefix": "Kreygasm",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Kreygasm;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Kreygasm;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Kreygasm;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Kreygasm;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Kreygasm;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "4Head",
                              "prefix": "4Head",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "4Head;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "4Head;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "4Head;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "4Head;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "4Head;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "SwiftRage",
                              "prefix": "SwiftRage",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "SwiftRage;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "SwiftRage;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "SwiftRage;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "SwiftRage;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "SwiftRage;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "NotLikeThis",
                              "prefix": "NotLikeThis",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "NotLikeThis;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "NotLikeThis;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "NotLikeThis;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "NotLikeThis;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "NotLikeThis;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "FailFish",
                              "prefix": "FailFish",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "FailFish;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "FailFish;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "FailFish;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "FailFish;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "FailFish;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "VoHiYo",
                              "prefix": "VoHiYo",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "VoHiYo;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "VoHiYo;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "VoHiYo;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "VoHiYo;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "VoHiYo;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "PJSalt",
                              "prefix": "PJSalt",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "PJSalt;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "PJSalt;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "PJSalt;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "PJSalt;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "PJSalt;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "MrDestructoid",
                              "prefix": "MrDestructoid",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "MrDestructoid;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "MrDestructoid;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "MrDestructoid;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "MrDestructoid;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "MrDestructoid;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "bday",
                              "prefix": "bday",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "bday;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "bday;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "bday;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "bday;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "bday;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "RIPCheer",
                              "prefix": "RIPCheer",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "RIPCheer;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "RIPCheer;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "RIPCheer;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "RIPCheer;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "RIPCheer;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Shamrock",
                              "prefix": "Shamrock",
                              "type": "FIRST_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Shamrock;1",
                                  "bits": 1,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Shamrock;100",
                                  "bits": 100,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Shamrock;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Shamrock;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Shamrock;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": true,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "DoodleCheer",
                              "prefix": "DoodleCheer",
                              "type": "THIRD_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "DoodleCheer;1",
                                  "bits": 1,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "DoodleCheer;100",
                                  "bits": 100,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "DoodleCheer;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "DoodleCheer;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "DoodleCheer;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "DoodleCheer;100000",
                                  "bits": 100000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "BitBoss",
                              "prefix": "BitBoss",
                              "type": "THIRD_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "BitBoss;1",
                                  "bits": 1,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "BitBoss;100",
                                  "bits": 100,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "BitBoss;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "BitBoss;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "BitBoss;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Streamlabs",
                              "prefix": "Streamlabs",
                              "type": "THIRD_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Streamlabs;1",
                                  "bits": 1,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Streamlabs;100",
                                  "bits": 100,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Streamlabs;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Streamlabs;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Streamlabs;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Muxy",
                              "prefix": "Muxy",
                              "type": "THIRD_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Muxy;1",
                                  "bits": 1,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Muxy;100",
                                  "bits": 100,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Muxy;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Muxy;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Muxy;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "HolidayCheer",
                              "prefix": "HolidayCheer",
                              "type": "THIRD_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "HolidayCheer;1",
                                  "bits": 1,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "HolidayCheer;100",
                                  "bits": 100,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "HolidayCheer;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "HolidayCheer;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "HolidayCheer;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Goal",
                              "prefix": "Goal",
                              "type": "THIRD_PARTY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Goal;1",
                                  "bits": 1,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Goal;100",
                                  "bits": 100,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Goal;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Goal;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Goal;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            },
                            {
                              "id": "Anon",
                              "prefix": "Anon",
                              "type": "DISPLAY_ONLY",
                              "campaign": null,
                              "tiers": [
                                {
                                  "id": "Anon;1",
                                  "bits": 1,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Anon;100",
                                  "bits": 100,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Anon;1000",
                                  "bits": 1000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Anon;5000",
                                  "bits": 5000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                },
                                {
                                  "id": "Anon;10000",
                                  "bits": 10000,
                                  "canShowInBitsCard": false,
                                  "__typename": "CheermoteTier"
                                }
                              ],
                              "__typename": "Cheermote"
                            }
                          ],
                          "__typename": "CheermoteGroup"
                        }
                      ],
                      "__typename": "GlobalCheerConfig"
                    },
                    "__typename": "Query"
                  },
                  "extensions": {
                    "durationMilliseconds": 5,
                    "operationName": "BitsConfigContext_Global",
                    "requestID": "01K1NJK6SYNX8DB82231BR5VX7"
                  }
                }
              }
            }
          }
        }
      }
    },
    "#BrowsePage_AllDirectories": {
      "post": {
        "summary": "",
        "tags": [
          "Games"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Client-ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "kimne78kx3ncx6brgo4mv6wki5h1ko"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrowsePageAllDirectoriesRequestBody"
              },
              "examples": {
                "only required variables": {
                  "value": {
                    "operationName": "BrowsePage_AllDirectories",
                    "variables": {
                      "cursor": null,
                      "limit": 100,
                      "options": {
                        "sort": "RELEVANCE"
                      }
                    },
                    "extensions": {
                      "persistedQuery": {
                        "version": 1,
                        "sha256Hash": "2f67f71ba89f3c0ed26a141ec00da1defecb2303595f5cda4298169549783d9e"
                      }
                    }
                  }
                },
                "with tags": {
                  "value": {
                    "operationName": "BrowsePage_AllDirectories",
                    "variables": {
                      "cursor": null,
                      "limit": 100,
                      "options": {
                        "recommendationsContext": {
                          "platform": "web"
                        },
                        "sort": "RELEVANCE",
                        "tags": [
                          "4d1eaa36-f750-4862-b7e9-d0a13970d535"
                        ]
                      }
                    },
                    "extensions": {
                      "persistedQuery": {
                        "version": 1,
                        "sha256Hash": "2f67f71ba89f3c0ed26a141ec00da1defecb2303595f5cda4298169549783d9e"
                      }
                    }
                  }
                },
                "integrity error": {
                  "value": {
                    "operationName": "BrowsePage_AllDirectories",
                    "variables": {
                      "cursor": "eyJzIjoxMDAsImQiOmZhbHNlLCJ0Ijp0cnVlfQ==",
                      "limit": 100,
                      "options": {
                        "sort": "RELEVANCE"
                      }
                    },
                    "extensions": {
                      "persistedQuery": {
                        "version": 1,
                        "sha256Hash": "2f67f71ba89f3c0ed26a141ec00da1defecb2303595f5cda4298169549783d9e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowsePageAllDirectoriesResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": {
                        "directoriesWithTags": {
                          "edges": [
                            {
                              "cursor": "eyJzIjoxLCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "e55c4ad9-0543-4826-a5e4-239b55310636",
                              "node": {
                                "id": "509658",
                                "slug": "just-chatting",
                                "displayName": "Just Chatting",
                                "name": "Just Chatting",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/509658-285x380.jpg",
                                "viewersCount": 169299,
                                "tags": [
                                  {
                                    "id": "2610cff9-10ae-4cb3-8500-778e6722fbb5",
                                    "isLanguageTag": false,
                                    "localizedName": "IRL",
                                    "tagName": "IRL",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": null,
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoyLCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "55b7cdc2-947e-4d14-a8a5-04f103edde73",
                              "node": {
                                "id": "21779",
                                "slug": "league-of-legends",
                                "displayName": "League of Legends",
                                "name": "League of Legends",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/21779-285x380.jpg",
                                "viewersCount": 96047,
                                "tags": [
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "12510423-d1f6-4992-8aea-1441a43d1df4",
                                    "isLanguageTag": false,
                                    "localizedName": "MOBA",
                                    "tagName": "MOBA",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2009-10-27T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjozLCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "46e29f56-5ad2-4e20-8ac5-84857b089832",
                              "node": {
                                "id": "18122",
                                "slug": "world-of-warcraft",
                                "displayName": "World of Warcraft",
                                "name": "World of Warcraft",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/18122-285x380.jpg",
                                "viewersCount": 64642,
                                "tags": [
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "643fe658-c4fc-45f0-9aed-cbe54a7c1d10",
                                    "isLanguageTag": false,
                                    "localizedName": "MMO",
                                    "tagName": "MMO",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a682f560-5186-4871-b97a-8d8e3f4308e9",
                                    "isLanguageTag": false,
                                    "localizedName": "Open World",
                                    "tagName": "Open World",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2004-11-23T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo0LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "73d1194a-1db6-40cb-a528-dc2993f96a91",
                              "node": {
                                "id": "516575",
                                "slug": "valorant",
                                "displayName": "VALORANT",
                                "name": "VALORANT",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/516575-285x380.jpg",
                                "viewersCount": 50493,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2020-06-02T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo1LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "901e32c5-261c-4216-b77d-61d9852ea929",
                              "node": {
                                "id": "32982",
                                "slug": "grand-theft-auto-v",
                                "displayName": "Grand Theft Auto V",
                                "name": "Grand Theft Auto V",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/32982_IGDB-285x380.jpg",
                                "viewersCount": 36310,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "f5ed5bd0-78cb-4467-8e13-9172a210b64d",
                                    "isLanguageTag": false,
                                    "localizedName": "Driving/Racing Game",
                                    "tagName": "Driving/Racing Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2013-09-17T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo2LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "da60b5e8-41e0-4bf4-8705-490c578d7df5",
                              "node": {
                                "id": "1264310518",
                                "slug": "marvel-rivals",
                                "displayName": "Marvel Rivals",
                                "name": "Marvel Rivals",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1264310518_IGDB-285x380.jpg",
                                "viewersCount": 31285,
                                "tags": [
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2024-12-06T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo3LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "5eb5feae-2865-42d6-9be5-8ca13396ab9b",
                              "node": {
                                "id": "1286077738",
                                "slug": "monster-hunter-wilds",
                                "displayName": "Monster Hunter Wilds",
                                "name": "Monster Hunter Wilds",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1286077738_IGDB-285x380.jpg",
                                "viewersCount": 31018,
                                "tags": [
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a682f560-5186-4871-b97a-8d8e3f4308e9",
                                    "isLanguageTag": false,
                                    "localizedName": "Open World",
                                    "tagName": "Open World",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2025-02-28T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo4LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "d4a8164f-1e3c-4b45-a1db-1b4a33a94bbc",
                              "node": {
                                "id": "29595",
                                "slug": "dota-2",
                                "displayName": "Dota 2",
                                "name": "Dota 2",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/29595-285x380.jpg",
                                "viewersCount": 30266,
                                "tags": [
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "12510423-d1f6-4992-8aea-1441a43d1df4",
                                    "isLanguageTag": false,
                                    "localizedName": "MOBA",
                                    "tagName": "MOBA",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2013-07-09T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjo5LCJkIjpmYWxzZSwidCI6dHJ1ZX0=",
                              "trackingID": "f11e6d80-0e71-462d-af21-11e5cfd9725b",
                              "node": {
                                "id": "32399",
                                "slug": "counter-strike",
                                "displayName": "Counter-Strike",
                                "name": "Counter-Strike",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/32399-285x380.jpg",
                                "viewersCount": 24498,
                                "tags": [
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2012-08-21T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxMCwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "ac4637ac-7a09-46ab-81ff-62678b47ec31",
                              "node": {
                                "id": "33214",
                                "slug": "fortnite",
                                "displayName": "Fortnite",
                                "name": "Fortnite",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/33214-285x380.jpg",
                                "viewersCount": 25097,
                                "tags": [
                                  {
                                    "id": "523fe736-fa95-44c7-b22f-13008ca2172c",
                                    "isLanguageTag": false,
                                    "localizedName": "Shooter",
                                    "tagName": "Shooter",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "9d38085e-ee62-4203-877b-81797052a18b",
                                    "isLanguageTag": false,
                                    "localizedName": "RPG",
                                    "tagName": "RPG",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "857fce92-df0c-4c8c-8c60-28e0c5f7d8ae",
                                    "isLanguageTag": false,
                                    "localizedName": "Strategy",
                                    "tagName": "Strategy",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a69f7ffb-ddda-4c05-8d7d-f0b24975a2c3",
                                    "isLanguageTag": false,
                                    "localizedName": "FPS",
                                    "tagName": "FPS",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2017-07-25T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxMSwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "e30bcd12-bb14-4569-b1a8-18f9d2c4297c",
                              "node": {
                                "id": "1294658629",
                                "slug": "r-e-p-o",
                                "displayName": "R.E.P.O.",
                                "name": "R.E.P.O.",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1294658629_IGDB-285x380.jpg",
                                "viewersCount": 22448,
                                "tags": [
                                  {
                                    "id": "d72d9de6-1df8-4c4e-b6a2-74e6f4c80557",
                                    "isLanguageTag": false,
                                    "localizedName": "Indie Game",
                                    "tagName": "Indie Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "cf0f97ad-efb8-4494-83ec-6a11ca30261b",
                                    "isLanguageTag": false,
                                    "localizedName": "Horror",
                                    "tagName": "Horror",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "0472bab0-e068-49b3-9bb8-789fdfe3c66a",
                                    "isLanguageTag": false,
                                    "localizedName": "Stealth",
                                    "tagName": "Stealth",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2025-02-26T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxMiwiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "ff606c93-9cd6-46f6-a59a-117127cb481f",
                              "node": {
                                "id": "490377",
                                "slug": "sea-of-thieves",
                                "displayName": "Sea of Thieves",
                                "name": "Sea of Thieves",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/490377-285x380.jpg",
                                "viewersCount": 19238,
                                "tags": [
                                  {
                                    "id": "22e434b6-ca88-46e8-91ef-c18ee1cb8a67",
                                    "isLanguageTag": false,
                                    "localizedName": "Simulation",
                                    "tagName": "Simulation",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "a682f560-5186-4871-b97a-8d8e3f4308e9",
                                    "isLanguageTag": false,
                                    "localizedName": "Open World",
                                    "tagName": "Open World",
                                    "__typename": "Tag"
                                  }
                                ],
                                "originalReleaseDate": "2018-03-20T00:00:00Z",
                                "__typename": "Game"
                              },
                              "__typename": "GameEdge"
                            },
                            {
                              "cursor": "eyJzIjoxMywiZCI6ZmFsc2UsInQiOnRydWV9",
                              "trackingID": "e7b99850-0398-416d-8c37-b642b9af5e53",
                              "node": {
                                "id": "1354355809",
                                "slug": "split-fiction",
                                "displayName": "Split Fiction",
                                "name": "Split Fiction",
                                "avatarURL": "https://static-cdn.jtvnw.net/ttv-boxart/1354355809_IGDB-285x380.jpg",
                                "viewersCount": 18867,
                                "tags": [
                                  {
                                    "id": "5d289cf9-d75a-42b5-a635-0d117609e6a6",
                                    "isLanguageTag": false,
                                    "localizedName": "Platformer",
                                    "tagName": "Platformer",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "80427d95-bb46-42d3-bf4d-408e9bdca49a",
                                    "isLanguageTag": false,
                                    "localizedName": "Adventure Game",
                                    "tagName": "Adventure Game",
                                    "__typename": "Tag"
                                  },
                                  {
                                    "id": "4d1eaa36-f750-4862-b7e9-d0a13970d535",
                                    "isLanguageTag": false,
                                    "localizedName": "Action",
                                    "tagName": "Action",
[...]
